<!-- footer start -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer-wrapper">
          <a href="index.html" class="logo-link">
            <img src="img/png/logo.png" alt="MedX">
          </a>
          <nav class="footer-nav">
            <ul class="footer-nav__list">
              <li class="footer-nav__item"><a href="#about" class="footer-nav__link scroll-on-click">About</a></li>
              <li class="footer-nav__item"><a href="#" class="footer-nav__link">Executive Summary</a></li>
              <li class="footer-nav__item"><a href="#contact" class="footer-nav__link scroll-on-click">Contact Us</a></li>
            </ul>
          </nav>
          <ul class="footer-social">
            <li class="footer-social__item">
              <a href="#" target="_blank" class="footer-social__link">
                <svg class="svg">
                  <use xlink:href="img/svg-sprite/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social__item">
              <a href="#" target="_blank" class="footer-social__link">
                <svg class="svg">
                  <use xlink:href="img/svg-sprite/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social__item">
              <a href="#" target="_blank" class="footer-social__link">
                <svg class="svg">
                  <use xlink:href="img/svg-sprite/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->