<!-- header start -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-wrapper">
          <a href="index.html" class="logo-link">
            <img src="img/png/logo.png" alt="MedX">
          </a>
          <div class="header-content">
            <nav class="header-nav">
              <ul class="header-nav__list">
                <li class="header-nav__item"><a href="#about" class="header-nav__link scroll-on-click">About</a></li>
                <li class="header-nav__item"><a href="#" class="header-nav__link">Executive Summary</a></li>
                <li class="header-nav__item"><a href="#contact" class="header-nav__link scroll-on-click">Contact Us</a></li>
              </ul>
            </nav>
            <!-- <ul class="header-lang js-header-lang">
              <li class="header-lang__item"><a href="#" class="header-lang__link">En</a></li>
              <li class="header-lang__item"><a href="#" class="header-lang__link">Esp</a></li>
            </ul> -->
            <div class="humburger js-humburger">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</header>
<!-- header end -->