.footer {
  padding: 57px 0 30px 0;
  position: relative;
  z-index: 1;
  background-color: $white;
  @include d(1499) {
    padding: 37px 0;
  }
  @include d(991) {
    padding: 20px 0;
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    @include d(991) {
      margin-bottom: 20px;
    }
  }
  &-nav {
    margin-left: 110px;
    @include d(991) {
      display: none;
    }
    &__list {
      display: flex;
      justify-content: space-between;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 110px;
      }
    }
    &__link {
      font-size: 20px;
      position: relative;
      @include d(1499) {
        font-size: 18px;
      }
      @include d(1199) {
        font-size: 16px;
      }
      @include d(991) {
        font-size: 14px;
      }
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $violet-dark;
        bottom: 0;
        border-radius: 5px;
        width: 0;
        transition: width .2s cubic-bezier(.46, -0.08, .9, .96);
      }

      @include rh(1024) {
        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
  &-social {
    display: inline-block;

    &__item {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 32px;
      }
    }

    &__link {
      max-width: 30px;
      .svg {
        transition: fill .2s cubic-bezier(.46, -0.08, .9, .96);
        @include rh(1024) {
          &:hover {
            fill: $violet-dark;
          }
        }
      }
    }
  }
}