.header {
  position: relative;
  padding-top: 45px;

  @include d(767) {
    padding-top: 20px;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 50%;
    max-width: 480px;

    @include d(991) {
      justify-content: flex-end;
    }
  }

  &-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    @include d(991) {
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 2;
      background-image: linear-gradient(155deg, #2c1b58, #8f5298);
      opacity: 0;
      left: -100vw;
      transition: left .6s ease-in-out, opacity .6s cubic-bezier(.46, -0.08, .9, .96);
    }

    &.active {
      left: 0;
      opacity: 1;
    }

    &__list {
      @include d(991) {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, 0%);
        opacity: 0;
        transition: transform .6s ease-in-out, opacity .6s cubic-bezier(.46, -0.08, .9, .96);
        width: 100%;

        &.active {
          transform: translate(-50%, -50%);
          opacity: 1;
        }
      }
    }

    &__item {
      display: inline-block;

      @include d(991) {
        display: block;
        text-align: center;
      }

      &:not(:last-child) {
        margin-right: 45px;

        @include d(991) {
          margin-right: 0;
          margin-bottom: 40px;
        }

        @include d(767) {
          margin-bottom: 25px;
        }
      }
    }

    &__link {
      color: $white;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $blue;
        bottom: 0;
        border-radius: 5px;
        width: 0;
        transition: width .2s cubic-bezier(.46, -0.08, .9, .96);
      }

      @include d(991) {
        font-size: 20px;
      }

      @include rh(1024) {
        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }
  }

  // &-lang {
  //   position: relative;
  //   display: flex;
  //   flex-direction: column;
  //   cursor: pointer;
  //   height: 25px;
  //   top: 0;

  //   &__item {
  //     transition: transform .2s, opacity .2s;

  //     &:not(:first-child) {
  //       transform: translateY(-10px);
  //       opacity: 0;
  //       z-index: -1;
  //     }
  //   }

  //   &__link {
  //     color: $white;
  //     transition: color .2s cubic-bezier(.46, -0.08, .9, .96);
  //     font-size: 16px;
  //     display: block;
  //     transition: color .2s cubic-bezier(.46, -0.08, .9, .96);

  //     @include rh(1024) {
  //       &:hover {
  //         color: $blue;
  //       }
  //     }
  //   }

  //   &.active {
  //     & .header-lang__item {
  //       &:not(:first-child) {
  //         padding-top: 10px;
  //         opacity: 1;
  //         transform: translateY(0);
  //         z-index: 1;
  //       }
  //     }
  //   }
  // }
}

.logo-link {
  max-width: 41px;
  flex: 0 0 41px;
  position: relative;
  z-index: 5;
}

.humburger {
  width: 40px;
  height: 20px;
  padding: 5px;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
  display: none;
  z-index: 10;
  transition: .5s ease-in-out;

  @include d(991) {
    display: block;
  }


  span {
    // width: 100%;
    // height: 3px;
    // background-color: $blue;
    // position: absolute;
    // border-radius: 3px;
    // right: 0;
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $blue;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;


    // &:first-child {
    //   top: 0;
    // }

    // &:nth-child(2) {
    //   top: 50%;
    //   margin-top: -1px;
    //   width: 75%;
    // }

    // &:last-child {
    //   bottom: 0;
    //   width: 50%;
    // }
  }
}

/* Icon 3 */

.humburger span:nth-child(1) {
  top: 0px;
}

.humburger span:nth-child(2),
.humburger span:nth-child(3) {
  top: 9px;
}

.humburger span:nth-child(4) {
  top: 18px;
}

.humburger.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.humburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.humburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.humburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}