<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="css/main.css">
<!-- <link rel="apple-touch-icon" href="img/favicon/apple-icon.png"/>
<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png"/>
<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png"/>
<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png"/> -->

<!-- <link rel="shortcut icon" href="/img/favicon/favicon.ico"> -->
<!-- <link rel="shortcut icon" type="image/png" href="img/favicon/favicon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png"> -->

<style type="text/css">
  .sl_left {
    transform: translate(-100px, 0) !important;
    opacity: 0 !important;
  }

  .sl_right {
    transform: translate(100px, 0) !important;
    opacity: 0 !important;
  }

  .sl_top {
    transform: translate(0, 100px) !important;
    opacity: 0 !important;
  }

  .fade_in {
    opacity: 0 !important;
  }

  .move-in {
    transform: translate(0, 0);
    opacity: 1;
    position: relative;
    transition: transform .8s, opacity .8s;
  }
</style>