// main project styles
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.15; // Correct the line height in all browsers.
  -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in iOS.
}

body {
  margin: 0; // Remove the margin in all browsers.
  font-size: 16px;
  font-weight: 400;
  font-family: $font-primary;
  color: $text-color;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  backface-visibility: hidden;
  text-rendering: geometricPrecision;
}

main {
  display: block; //  Render the `main` element consistently in IE.
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2em;
  font-weight: 700;
}

h1,
.title-1 {
  color: $white;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.391em;
  margin-bottom: 25px;

  @include d(1499) {
    font-size: 36px;
  }

  @include d(575) {
    font-size: 32px;
  }

  @include d(440) {
    font-size: 24px;
  }
}

h2,
.title-2 {
  font-size: 46px;
  font-weight: 500;
  color: $blue-dark;

  @include d(1499) {
    font-size: 36px;
  }

  @include d(575) {
    font-size: 32px;
  }

  @include d(440) {
    font-size: 24px;
  }
}

h3,
.title-3 {
  font-size: 30px;
  font-weight: 700;
  color: $blue-dark;

  @include d(1499) {
    font-size: 26px;
  }
}

h4,
.title-4 {
  font-size: 20px;
  font-weight: 500;
  color: $blue-dark;
  line-height: 1.6em;

  @include d(1499) {
    font-size: 18px;
  }

  @include d(767) {
    font-size: 16px;
  }
}

h5,
.title-5 {
  font-size: 16px;
  font-weight: 500;
  color: $blue-dark;
  line-height: 1.6em;
}

hr {
  box-sizing: content-box; // Add the correct box sizing in Firefox.
  height: 0; // Add the correct box sizing in Firefox.
  overflow: visible; // Show the overflow in Edge and IE.
}

pre {
  font-family: monospace, monospace; // Correct the inheritance and scaling of font size in all browsers.
  font-size: 1em; // Correct the odd `em` font sizing in all browsers.
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: 1.6em;
  margin: 0;
  background-color: transparent; //Remove the gray background on active links in IE 10.

  &:visited {
    text-decoration: none;
  }

  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}


abbr[title] {
  border-bottom: none; // Remove the bottom border in Chrome 57-
  text-decoration: underline; // Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  text-decoration: underline dotted; // Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
}

b,
strong {
  font-weight: bolder; // Add the correct font weight in Chrome, Edge, and Safari.
}

code,
kbd,
samp {
  font-family: monospace, monospace; // Correct the inheritance and scaling of font size in all browsers.
  font-size: 1em; // Correct the odd `em` font sizing in all browsers.
}

small {
  font-size: 80%; // Add the correct font size in all browsers.
}

sub,
sup {
  font-size: 75%;
  line-height: 0; // Prevent `sub` and `sup` elements from affecting the line height in all browsers.
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img,
picture {
  width: 100%;
  height: 100%;
  display: block;
  border-style: none; // Remove the border on images inside links in IE 10.
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; //  Change the font styles in all browsers.
  font-size: 100%; //  Change the font styles in all browsers.
  line-height: 1.15; //  Change the font styles in all browsers.
  margin: 0; // Remove the margin in Firefox and Safari.
}

button,
input {
  overflow: visible; // Show the overflow in Edge.
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  text-transform: none; // Remove the inheritance of text transform in Edge, Firefox, and IE. Remove the inheritance of text transform in Firefox.
}


// Correct the inability to style clickable types in iOS and Safari.
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

// Remove the inner border and padding in Firefox.
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

// Restore the focus styles unset by the previous rule.
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

// Correct the padding in Firefox.
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; // Correct the text wrapping in Edge and IE.
  color: inherit; // Correct the color inheritance from `fieldset` elements in IE.
  display: table; // Correct the text wrapping in Edge and IE.
  max-width: 100%; // Correct the text wrapping in Edge and IE.
  padding: 0; // Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
  white-space: normal; // Correct the text wrapping in Edge and IE.
}

progress {
  vertical-align: baseline; // Add the correct vertical alignment in Chrome, Firefox, and Opera.
}

// Remove the default vertical scrollbar in IE 10+.
textarea {
  overflow: auto;
  resize: none;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; // Add the correct box sizing in IE 10.
  padding: 0; // Remove the padding in IE 10.
}


// Correct the cursor style of increment and decrement buttons in Chrome.

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; //  Correct the odd appearance in Chrome and Safari.
  outline-offset: -2px; // Correct the outline style in Safari.
}

// Remove the inner padding in Chrome and Safari on macOS.
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


::-webkit-file-upload-button {
  -webkit-appearance: button; // Correct the inability to style clickable types in iOS and Safari.
  font: inherit; // Change font properties to `inherit` in Safari.
}

details {
  display: block; // Add the correct display in Edge, IE 10+, and Firefox.
}

summary {
  display: list-item; // Add the correct display in all browsers.
}

template {
  display: none; // Add the correct display in IE 10+.
}

[hidden] {
  display: none; //  Add the correct display in IE 10.
}

p,
li {
  line-height: 1.6em;
  margin: 0;
  font-size: 16px;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    list-style-type: none;
  }
}

section {
  position: relative;
}

tr {
  line-height: 1.5em;
}

figure {
  margin: 0;
}

blockquote {
  margin: 0;
}

button {
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

// hide date navigation in input
input[type="date"] {
  // background: #fff url(img/icons/triangle-down.svg) 97% 50% no-repeat;
  // background-size: 7%;

  &::-webkit-inner-spin-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: relative;
    right: -10px;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    -webkit-appearance: none;
  }
}

// hide arrows in input type number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  &::-webkit-input-placeholder {
    font-family: $font-primary;
    font-size: 16px;
    color: $text-color;
    transition: color .2s cubic-bezier(.46, -0.08, .9, .96);
  }

  &::-moz-placeholder {
    font-family: $font-primary;
    font-size: 16px;
    color: $text-color;
    transition: color .2s cubic-bezier(.46, -0.08, .9, .96);
  }

  &:-ms-input-placeholder {
    font-family: $font-primary;
    font-size: 16px;
    color: $text-color;
    transition: color .2s cubic-bezier(.46, -0.08, .9, .96);
  }

  &::placeholder {
    font-family: $font-primary;
    font-size: 16px;
    color: $text-color;
    transition: color .2s cubic-bezier(.46, -0.08, .9, .96);
  }
}

input {
  &::-webkit-input-placeholder {
    font-family: $font-primary;
    font-size: 16px;
    color: $text-color;
    transition: color .2s cubic-bezier(.46, -0.08, .9, .96);
  }

  &::-moz-placeholder {
    font-family: $font-primary;
    font-size: 16px;
    color: $text-color;
    transition: color .2s cubic-bezier(.46, -0.08, .9, .96);
  }

  &:-ms-input-placeholder {
    font-family: $font-primary;
    font-size: 16px;
    color: $text-color;
    transition: color .2s cubic-bezier(.46, -0.08, .9, .96);
  }

  &::placeholder {
    font-family: $font-primary;
    font-size: 16px;
    color: $text-color;
    transition: color .2s cubic-bezier(.46, -0.08, .9, .96);
  }
}

.custom-label {
  position: relative;
  display: block;
  padding-bottom: 20px;
  width: 100%;
  margin-bottom: 14px;
  // &:not(:last-of-type) {
  //   margin-bottom: 32px;
  // }

  // &:last-of-type {
  //   margin-bottom: 5px;
  // }
}

.custom-input {
  border: none;
  border-bottom: 1px solid $gray;
  padding-bottom: 8px;
  width: 100%;
  transition: border .2s cubic-bezier(.46, -0.08, .9, .96);
  background-color: transparent;

  &:focus {
    outline: none;
    border-bottom: 1px solid $blue;

    &::-webkit-input-placeholder {
      color: $blue;
    }

    &::-moz-placeholder {
      color: $blue;
    }

    &:-ms-input-placeholder {
      color: $blue;
    }

    &::placeholder {
      color: $blue;
    }
  }
}

.custom-textarea {
  border: none;
  border-bottom: 1px solid $gray;
  width: 100%;
  background-color: transparent;

  &:focus {
    outline: none;
    border-bottom: 1px solid $blue;

    &::-webkit-input-placeholder {
      color: $blue;
    }

    &::-moz-placeholder {
      color: $blue;
    }

    &:-ms-input-placeholder {
      color: $blue;
    }

    &::placeholder {
      color: $blue;
    }
  }
}

.animate {
  position: relative;
  opacity: 1;
  transition: transform .8s, opacity .8s;
}


// .regular {
//   font-family: 'Avenir Next Regular', sans-serif;
// }

// .italic {
//   font-family: 'Avenir Next Italic', sans-serif;
// }

// .bold {
//   font-family: 'Avenir Next Bold', sans-serif;
// }

// .boldItalic {
//   font-family: 'Avenir Next BoldItalic', sans-serif;
// }

// .demiBold {
//   font-family: 'Avenir Next DemiBold', sans-serif;
// }

// .heavy {
//   font-family: 'Avenir Next Heavy', sans-serif;
// }

// .medium {
//   font-family: 'Avenir Next Medium', sans-serif;
// }


.no-scroll {
  overflow: hidden;
}

// text colors
.white {
  color: $white;
}

.blue {
  color: $blue-dark;
}

.bg-pink {
  background-color: $pink;
}

.bg-violet {
  background-color: $violet;
}

// background colors
.svg {
  display: inline-block;
  width: 30px;
  height: 30px;
  fill: $blue;
  // @include d(1199) {
  //   width: 30px;
  //   height: 30px;
  // }
}

.border-radius {
  border-radius: 7px;
}

.container {
  @include m(1500) {
    max-width: 1440px;
  }
}

.button {
  background-color: $blue;
  color: $white;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  border: none;
  @extend .border-radius;
  padding: 0 24px;
  display: flex;
  align-items: center;
  line-height: 58px;
  border: 1px solid $blue;
  transition: background-color .2s cubic-bezier(.46, -0.08, .9, .96), color .2s cubic-bezier(.46, -0.08, .9, .96);

  @include d(1499) {
    font-size: 16px;
  }

  @include d(575) {
    padding: 0 16px;
    line-height: 51px;
    font-size: 14px;
  }

  @include rh(1024) {
    &:hover {
      background-color: $white;
      color: $blue;

      & .button-arrow {
        & .download-icon {
          stroke: $blue;
        }
      }
    }
  }

  &-arrow {
    max-width: 30px;
    margin-right: 15px;
    margin-top: -5px;

    @include d (380) {
      max-width: 20px;
      margin-right: 10px;
    }

    & .download-icon {
      stroke: $white;
      transition: stroke .2s cubic-bezier(.46, -0.08, .9, .96);
    }
  }
}

.pills-move {
  position: relative;
  opacity: 1;
  transition: transform .8s, opacity .8s;
  transition-delay: .8s;
}

.abstract {
  position: relative;
  opacity: 1;
  transition: transform .8s, opacity .8s;
}

.abstract1 {
  position: absolute;
  right: -339px;
  width: 920px;
  opacity: .2;
  top: -258px;
  transform: rotate(-19deg);
  z-index: -1;

  @include d(1499) {
    max-width: 780px;
  }
}

.abstract2 {
  position: absolute;
  right: -318px;
  width: 620px;
  bottom: -100px;
  z-index: -1;
  opacity: .2;
  transform: rotate(-135deg);
}

.abstract3 {
  position: absolute;
  left: -318px;
  width: 480px;
  top: -177px;
  z-index: -1;
  opacity: .2;
  transform: rotate(29deg);
}


.abstract4 {
  position: absolute;
  width: 180%;
  top: -680px;
  z-index: -1;
  opacity: .2;
  -webkit-transform: rotate(-255deg);
  -ms-transform: rotate(-255deg);
  transform: rotate(90deg);

  @include d(1499) {
    top: -530px;
  }

  @include d(767) {
    top: -250px;
  }

  @include d(575) {
    top: 150px;
  }

  @include d(400) {
    top: 250px;
  }
}

.error-message {
  color: tomato;
  font-size: 12px;
  opacity: 0;
  position: relative;
  z-index: -1;
  transition: opacity .2s cubic-bezier(.46, -0.08, .9, .96), z-index .2s cubic-bezier(.46, -0.08, .9, .96);
}

.error {
  .custom-input {
    border-color: tomato;
  }

  .error-message {
    opacity: 1;
    z-index: 1;
  }
}