.main-wrapper {
  overflow: hidden;
  min-width: 300px;
  opacity: 1;
  transition: opacity .8s ease-in;
}

.banner {
  position: relative;
  background-image: linear-gradient(83deg, #2c1b58 50%, #8f5298);
  padding-bottom: 42px;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/png/logo.png);
    background-repeat: no-repeat;
    background-position: center top;
    opacity: .1;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    background-image: url(../img/png/banner-bottom.svg);
    background-size: cover;
    width: 100%;
    height: 208px;
    background-position: bottom center;
  }

  &-content {
    padding-top: 190px;
    padding-bottom: 245px;
    position: relative;
    transition: transform .8s, opacity .8s;

    @include d(1499) {
      padding-top: 130px;
      padding-bottom: 215px;
    }

    @include d(991) {
      padding-top: 30px;
      padding-bottom: 145px;
    }

    & .title-1,
    & h1 {
      margin-bottom: 38px;
      position: relative;

      @include d(991) {
        margin-bottom: 20px;
      }
    }

    & .title-4,
    & h4 {
      margin-bottom: 56px;
      color: $white;
    }
  }

  &-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // @include d(575) {
    //   flex-wrap: wrap;
    // }
  }

  &-social {
    display: inline-block;
    margin-right: 60px;
    margin-left: 20px;

    @include d(767) {
      margin-right: 0;
    }

    @include d(380) {
      margin-left: 10px;
    }

    &__item {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 32px;

        @include d(1499) {
          margin-right: 22px;
        }

        @include d(767) {
          margin-right: 12px;
        }
      }

      .svg {
        @include d(575) {
          width: 24px;
        }

        @include d(380) {
          width: 20px;
        }
      }
    }

    &__link {
      max-width: 30px;

      .svg {
        transition: fill .2s cubic-bezier(.46, -0.08, .9, .96);

        @include rh(1024) {
          &:hover {
            fill: $white;
          }
        }
      }
    }

  }

  &-img {
    margin-top: 138px;
    max-width: 534px;
    margin-left: 20px;
    @include d(991) {
      margin: 40px auto;
      max-width: 300px;
    }
    img {
      object-fit: cover;
    }
  }

  &-pic {
    position: relative;
    opacity: 1;
    transition: transform .8s, opacity .8s;
  }
}

.relationship {
  padding-top: 95px;

  @include d(1199) {
    padding-top: 50px;
  }

  &-content {
    padding-right: 30px;
    position: relative;
    transform: translate(0, 0);
    opacity: 1;
    transition: transform .8s, opacity .8s;

    @include d(767) {
      padding-right: 0;
    }
  }

  &-video {
    max-width: 588px;
    margin-top: 40px;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    transform: translate(0, 0);
    opacity: 1;
    z-index: 1;
    transition: transform .8s, opacity .8s;

    @include d(991) {
      max-width: 500px;
      margin: 40px auto;
    }

    .play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }
}

.play {
  width: 80px;
  height: 80px;
  background-image: url(../img/svg/play.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: width .2s cubic-bezier(.46, -0.08, .9, .96), height .2s cubic-bezier(.46, -0.08, .9, .96);

  @include rh(1024) {
    &:hover {
      width: 90px;
      height: 90px;
    }
  }
}

.text-content {

  .title-2,
  h2 {
    margin-bottom: 30px;

    @include d(1499) {
      margin-bottom: 20px;
    }
  }

  .title-5,
  h5 {
    margin-bottom: 30px;

    @include d(1499) {
      margin-bottom: 20px;
    }
  }

  p {
    &:not(:last-child) {
      margin-bottom: 30px;

      @include d(1499) {
        margin-bottom: 20px;
      }
    }
  }
}

.world {
  .pills-right {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 573px;
    height: auto;

    @include d(1499) {
      max-width: 440px;
    }

    @include d(991) {
      opacity: .4;
    }
  }

  &-content {
    position: relative;
    background-image: url(../img/svg/map_1.svg);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 51% 60%;
    height: 475px;
    margin-right: -30px;
    // @extend .move-in;
    transform: translate(0, 0);
    opacity: 1;
    position: relative;
    transition: transform .8s, opacity .8s;

    @include d(767) {
      margin-right: 0;
      height: 300px;
    }
  }

  &-box {
    border-radius: 86px;
    padding: 45px 25px;
    max-width: 520px;
    text-align: center;
    position: absolute;
    background-color: $white;
    top: 103px;
    left: 81px;
    box-shadow: 16px 3px 27px $gray;

    @include d(1499) {
      left: 0;
      padding: 35px 15px;
      top: 133px;
    }

    @include d(991) {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 500px;
      width: 100%;
      padding: 20px;
      border-radius: 70px;
    }

    @include d(767) {
      position: static;
      transform: translate(0, 0);
      margin-top: 40px;
    }
  }
}

.mission {
  padding-top: 43px;
  padding-bottom: 170px;

  @include d(1199) {
    padding-bottom: 50px;
  }

  &-content {
    // @extend .move-in;
    transform: translate(0, 0);
    opacity: 1;
    transition: transform .8s, opacity .8s;
    position: relative;
    padding-right: 24px;

    @include d(767) {
      padding-right: 0;
    }
  }
}

.problem {
  padding-bottom: 100px;
  position: relative;
  // @extend .move-in;
  transform: translate(0, 0);
  opacity: 1;
  transition: transform .8s, opacity .8s;

  @include d(1199) {
    padding-bottom: 50px;
  }

  .title-2,
  h2 {
    margin-bottom: 16px;
  }

  .title-4,
  h4 {
    margin-bottom: 20px;
  }

  &-wrapper {
    padding-bottom: 60px;
  }

  &-list {
    display: flex;

    @include d(991) {
      margin-bottom: 40px;
    }

    @include d(600) {
      flex-direction: column;
    }

    &__item {
      text-align: center;

      &:not(:last-child) {
        margin-right: 85px;

        @include d(1499) {
          margin-right: 55px;
        }

        @include d(1199) {
          margin-right: 25px;
        }

        @include d(600) {
          margin-right: 0;
          margin-bottom: 40px;
        }
      }

      &:nth-child(odd) {
        .problem-list__circle {
          background-color: $pink;
        }
      }

      &:nth-child(even) {
        .problem-list__circle {
          background-color: $violet;
        }
      }
    }

    &__circle {
      border-radius: 50%;
      font-size: 30px;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 145px;
      width: 145px;
      height: 145px;
      margin: 0 auto 20px;

      @include d(1199) {
        flex: 0 0 115px;
        width: 115px;
        height: 115px;
      }

      @include d(600) {
        margin-bottom: 10px;
      }

    }

    &__pill {
      max-width: 90px;
    }

    &__mail {
      max-width: 66px;
    }
  }

  &-earth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 285px;
    height: 285px;
    border-radius: 50%;
    box-shadow: 16px 0 73px $gray;
    text-align: center;
    margin: 0 auto;

    @include d(1499) {
      width: 255px;
      height: 255px;
    }

    @include d(1199) {
      width: 200px;
      height: 200px;
    }

    &_inner {
      max-width: 190px;
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;

      @include d(1499) {
        max-width: 160px;
      }

      @include d(1199) {
        max-width: 140px;
      }

      p {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.188em;

        @include d(1199) {
          font-size: 12px;
          margin-bottom: 5px;
        }
      }

      img {
        max-width: 190px;
        filter: brightness(1.7);
      }
    }

  }

  &-ellips {
    background-color: $white;
    border-radius: 104px;
    text-align: center;
    box-shadow: 0px 0px 35px rgba(#001f4a, .08);
    padding: 40px 70px 60px;

    @include d(1499) {
      padding: 30px 50px 40px;
    }

    @include d(991) {
      padding: 20px;
      border-radius: 70px;
    }
  }
}

.section-header {
  text-align: center;
  margin-bottom: 68px;
  // @extend .move-in;

  @include d(767) {
    margin-bottom: 40px;
  }

  .title-2,
  h2 {
    margin-bottom: 14px;
  }
}

.number {
  color: $blue-dark;
  font-size: 46px;
  font-weight: 500;
  margin-bottom: 68px;
  display: block;

  @include d(1499) {
    font-size: 36px;
    margin-bottom: 30px;
  }
}

.work {
  padding-top: 79px;
  padding-bottom: 90px;

  @include d(1199) {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  &-wrapper {
    margin-left: 8.333333%;

    @include d(991) {
      margin-left: 0;
    }
  }

  &-row {
    // @extend .move-in;
    transform: translate(0, 0);
    opacity: 1;
    position: relative;
    transition: transform .8s, opacity .8s;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    @include d(991) {
      align-items: center;
    }

    &:first-child {
      margin-bottom: 40px;
    }

    &:nth-child(2) {
      margin-bottom: 125px;

      @include d(991) {
        margin-bottom: 40px;
      }
    }

    &:nth-child(odd) {
      & .work-content {
        margin-left: -30px;

        @include d(1199) {
          margin-left: 0;
        }
      }

      & .work-img {
        margin-left: 140px;
        position: relative;
        top: -40px;

        @include d(1199) {
          margin-left: 40px;
          top: 0;
        }

        @include d(991) {
          margin: 0 auto;
        }
      }
    }

    &:nth-child(even) {
      & .work-content {
        margin-left: 100px;
        order: 1;

        @include d(1199) {
          margin-left: 60px;
        }

        @include d(991) {
          margin-left: 0;
        }
      }

      & .work-img {
        order: 0;

        @include d(991) {
          order: 1;
        }
      }
    }

    &:nth-child(3) {
      margin-bottom: 60px;

      @include d(991) {
        margin-bottom: 40px;
      }
    }
  }

  &-content {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding: 0 15px;

    @include d(991) {
      margin-left: 0;
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 40px;
      margin-left: 0;
    }

    @include d(767) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .title-3,
    h3 {
      margin-bottom: 12px;
    }

    .title-4,
    h4 {
      margin-bottom: 14px;
    }
  }

  &-img {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    position: relative;
    height: 100%;

    @include d(991) {
      flex: 0 0 100%;
      max-width: 400px;
      margin: 0 auto;
      padding: 0 15px;
    }

    // @include d(767) {
    //   max-width: 400px;
    //   margin: 0 auto;
    // }

    img {
      width: 80%;
      height: auto;

      @include d(991) {
        width: 100%;
      }
    }
  }
}

.economical {
  padding-top: 90px;
  padding-bottom: 90px;

  @include d(1199) {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // @extend .move-in;
    transform: translate(0, 0);
    opacity: 1;
    position: relative;
    transition: transform .8s, opacity .8s;

    @include d(1199) {
      flex-wrap: wrap;
    }

    &__item {
      max-width: 20%;
      width: 100%;
      flex: 0 0 20%;
      text-align: center;

      @include d(1199) {
        flex: 0 0 200px;
        max-width: 200px;
      }

      @include d(991) {
        flex: 0 0 50%;
        max-width: 40%;
        margin-bottom: 40px;
      }

      @include d(575) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 40px;
      }

      img {
        max-width: 155px;
        margin: 0 auto;
        height: auto;
        margin-bottom: 22px;

        @include d(1499) {
          max-width: 135px;
        }
      }

      .title-5 h5 {
        margin-bottom: 5px;
      }
    }
  }
}

.service {
  padding-top: 106px;

  @include d(1199) {
    padding-top: 50px;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 155px;
    align-items: center;
    // @extend .move-in;
    transform: translate(0, 0);
    opacity: 1;
    position: relative;
    transition: transform .8s, opacity .8s;

    @include d(1499) {
      margin-bottom: 85px;
    }

    @include d(767) {
      margin-bottom: 40px;
    }

    @include d(575) {
      flex-wrap: wrap;
    }
  }

  &-img {
    max-width: 210px;
    flex: 0 0 210px;
    width: 100%;

    @include d(1499) {
      max-width: 140px;
      flex: 0 0 140px;
    }

    @include d(767) {
      margin: 0 auto;
      margin-bottom: 20px;
    }

    img {
      height: auto;
    }
  }

  &-content {
    padding-left: 84px;
    padding-right: 50px;

    @include d(1499) {
      padding-right: 10px;
      padding-left: 40px;
    }

    @include d(575) {
      padding: 0;
    }

    .title-4,
    h4 {
      margin-bottom: 10px;
    }
  }
}

.contact {
  padding-top: 222px;
  padding-bottom: 138px;
  position: relative;

  @include d(1499) {
    padding-top: 120px;
    padding-bottom: 100;
  }

  @include d(1199) {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .pills {
    position: absolute;
    width: 74%;
    height: auto;
    bottom: 0;
    left: 10%;

    @include d(767) {
      width: 100%;
      left: 0;
    }
  }

  &-content {
    margin-left: -30px;
    // @extend .move-in;
    transform: translate(0, 0);
    opacity: 1;
    position: relative;
    transition: transform .8s, opacity .8s;

    @include d(1199) {
      margin-left: 0;
    }

    @include d(991) {
      margin-bottom: 40px;
    }
  }

  .title-2,
  h2 {
    margin-bottom: 18px;
  }

  .title-4,
  h4 {
    margin-bottom: 20px;
  }

  p {
    margin-right: 30px;
  }

  &-form {
    margin-top: 10px;
    // @extend .move-in;
    transform: translate(0, 0);
    opacity: 1;
    position: relative;
    transition: transform .8s, opacity .8s;

    .title-3,
    h3 {
      margin-bottom: 33px;
    }

    .custom-textarea {
      margin-bottom: 57px;
    }

    .button {
      font-weight: 400;
      padding: 0 36px;
      line-height: 51px;
    }
  }
}

// .wpcf7-response-output .wpcf7-display-none .wpcf7-validation-errors {
//   display: none !important;
//   // visibility: hidden;
// }




div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  color: #ff0000;
}

div.wpcf7-mail-sent-ok {
  color: #398f14;
}

div.wpcf7-response-output {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  font-size: 14px;
  position: absolute;
}


.wpcf7-not-valid-tip {
  color: tomato;
  font-size: 12px !important;
  font-weight: normal;
  display: block;
  position: absolute;
  /* max-width: 200px; */
  width: 200px;
}

.custom-textarea {
  height: 150px;
}

.wpcf7-form-control .wpcf7-textarea .wpcf7-validates-as-required .custom-textarea .wpcf7-not-valid {
  height: 150px;
}
[type=submit] {
  cursor: pointer;
  outline: none;
}