// project fonts
$font-primary: "Inter", "Arial", "Helvetica", sans-serif;
// $font-secondary: "AvenirLTStd-Roman", "Arial", "Helvetica", sans-serif;


// colors
$white: #ffffff;
$text-color: #575757;
$blue-dark: #002972;
$blue: #00a0ff;
$pink: #e7bbdc;
$violet: #966fc4;
$violet-dark: #985698;
$gray: #caced3;